@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arsenal SC", sans-serif;
    font-weight: 400;
    font-style: normal;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('images/Background.jpg');
    background-size:cover;
      /*      -webkit-animation: slidein 100s;
            animation: slidein 100s;
   
            -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
   
            -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
   
            -webkit-animation-direction: alternate;
            animation-direction: alternate;  */      
    }
   
    @-webkit-keyframes slidein {
    from {background-position: top; background-size:3000px; }
    to {background-position: -100px 0px;background-size:2750px;}
    }
   
    @keyframes slidein {
    from {background-position: top;background-size:3000px; }
    to {background-position: -100px 0px;background-size:2750px;} 
   
}

.sacramento-regular {
    font-family: "Sacramento", cursive;
    font-weight: 400;
    font-style: normal;
  }
.center
{
  display: flex;
  align-items: top;
  justify-content: center;
  position:absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0px;
  margin-bottom: 60px;

}
.center h1{
  margin-top: 100px;
  text-align:center;
  color:beige;
  font-family: "Sacramento", cursive;
  font-weight: 500;
  font-style:normal;
  font-size: 100px;
  /*text-transform:uppercase;*/
}


.register-box{
    display: flex;
    justify-content: center;
    position: relative;
    flex-direction: column;
    font-family: 'Arsenal SC', sans-serif;
    margin-top: 70px;
    width: 440px;
    height: 440px;
    padding: 30px;
    background-color: #D9D8CE;

}
.register-header{
    text-align: center;
    margin: 10px 0 20px 0;
}
.register-header header{
    color: #333;
    font-family: 'Arsenal SC', sans-serif;
    font-size: 30px;
    font-weight: 600;
}
.input-box .input-field{
    width: 100%;
    height: 60px;
    font-family: 'Arsenal SC', sans-serif;
    font-size: 17px;
    padding: 0 25px;
    margin-bottom: 10px;
    border-radius: 30px;
    border: none;
    box-shadow: 0px 5px 10px 1px rgba(0,0,0, 0.05);
    outline: none;
    transition: .3s;
}
::placeholder{
    font-weight: 500;
    font-family: 'Arsenal SC', sans-serif;
    color: #222;
}
.input-field:focus{
    width: 105%;
}
.forgot{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
section{
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #555;
}
#check{
    margin-right: 10px;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
section a{
    color: #555;
}
.input-submit{
    position: relative;
}
.submit-btn{
    width: 100%;
    height: 50px;
    font-family: 'Arsenal SC', sans-serif;
    font-size: large;
    background: #404F24;
    border: none;
    transition: background-color 0.3s ease;
}
.submit-btn:active {
    background-color: #333;
    font-family: 'Arsenal SC', sans-serif;

}
#message {
    display:none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 0px;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  
  #message p {
    padding-top: 10;
    padding-bottom: 10;
    font-size: 17px;
  }
.valid {
    color: green;
  }
  
  .valid:before {
    position: relative;
    content: '\2713'; 
  }
  
  /* Add a red text color and an "x" icon when the requirements are wrong */
  .invalid {
    color: red;
  }
  
  .invalid:before {
    position: relative;
    content: '\2716'; 
}
